.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__title {
  display: none;
}
.advantages__list {
  padding-left: 5em;
  padding-right: 0.5em;
}

.advantages__item:not(:last-child) {
  padding-bottom: 2.5em;
}

.advantages__text {
  max-width: 75%;
  position: relative;
  word-wrap: break-word;
  font-size: 0.875em;
  font-weight: getFontWeight('font-bold');
  color: currentColor;
  line-height: 1.5;
  letter-spacing: 0.08em;
  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/female_icon.svg);
    background-size: contain;
    display: inline-block;
    width: 58px;
    height: 60px;
    top: -0.5em;
    left: -5em;
  }
  &--teaching {
    @extend .advantages__text;
    &::before {
      background-image: url(../images/icons/teaching_icon.svg);
    }
  }
  &--guarantee {
    @extend .advantages__text;
    &::before {
      background-image: url(../images/icons/guarantee_icon.svg);
      top: -0.5em;
    }
  }
}
