.advantages__title {
  display: none;
}
.advantages__list {
  margin-right: auto;
  margin-left: auto;
  padding-left: 3.5em;
  padding-right: 3.5em;
}
.advantages__item {
  margin-top: 2.5em;
}
.advantages__text {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  align-items: center;
  font-size: 0.875em;
  font-weight: getFontWeight('font-bold');
  color: currentColor;
  line-height: 1.5;
  letter-spacing: 0.08em;
  word-wrap: break-word;
  &::before {
    content: '';
    background-image: url(../images/icons/female_icon.svg);
    background-size: contain;
    display: inline;
    width: 58px;
    height: 60px;
    margin-right: 0.625em;
  }
  &--teaching {
    @extend .advantages__text;
    &::before {
      background-image: url(../images/icons/teaching_icon.svg);
    }
  }
  &--guarantee {
    @extend .advantages__text;
    &::before {
      background-image: url(../images/icons/guarantee_icon.svg);
    }
  }
}
