.section--footer {
  padding-bottom: 0em;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    display: none;
  }
  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    margin-bottom: 1.5em;
  }
  &__background {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 1.5em;
    background-color: getColor('black');
  }
  &__copyright {
    font-size: 0.875em;
    color: getColor('primary-gray');
  }
}
@media screen and (min-width: 768px) {
  .footer {
    justify-content: center;
    &__data {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2.5em;
    }
    &__logo {
      margin-bottom: 0em;
      margin-right: 25vw;
    }
    &__background {
      justify-content: flex-start;
      padding: 1.4em 2.6em;
    }
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    justify-content: flex-start;
    &__data {
      justify-content: space-between;
      margin-bottom: 2.5em;
      padding-top: 2.5em;
    }
    &__logo {
      margin-bottom: 0em;
      margin-right: 35vw;
    }
    &__background {
      justify-content: flex-start;
      padding: 1.4em 20em;
    }
  }
}
.address {
  @extend .footer;
  margin-bottom: 3.25em;
  &__phone {
    position: relative;
    margin-bottom: 2em;
    font-size: 0.875em;
    font-weight: getFontWeight('font-semibold');
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: getColor('black');
    @include transition(font-size);
    &::before {
      content: '';
      background-image: url(../images/icons/phone.svg);
      display: inline-block;
      position: absolute;
      top: 0.25em;
      left: -2.2em;
      width: 20px;
      height: 20px;
      color: getColor('brand-color');
      @include transition(transform);
    }
    &:focus,
    &:hover {
      font-size: 1em;
      color: getColor('brand-color');
    }
    &:focus::before,
    &:hover::before {
      transform: rotate(180deg);
    }
  }
}
@media screen and (min-width: 768px) {
  .address {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0em;
    &__phone {
      margin-bottom: 0em;
      padding-right: 1em;
      font-size: 1.25em;
      border-right: 0.1em solid getColor('primary-gray');
      &::before {
        background-size: cover;
        top: 0.35em;
        left: -2em;
        width: 24px;
        height: 24px;
      }
      &:focus,
      &:hover {
        font-size: 1.35em;
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .address {
    justify-content: flex-start;
    &__phone {
      padding-right: 0.75em;
      font-size: 1.875em;
      &::before {
        background-size: cover;
        top: 0.5em;
        left: -1.5em;
        width: 30px;
        height: 30px;
      }
      &:focus,
      &:hover {
        font-size: 2em;
      }
    }
  }
}
.social__logo {
  width: 2.6em;
  height: 2.6em;
  background-color: getColor('background-white');
  border-radius: 10%;
  background-image: url(../images/icons/instagram.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .social__logo {
    margin-left: 1.5em;
  }
}
@media screen and (min-width: 1280px) {
  .social__logo {
    margin-left: 1.5em;
  }
}
