.hero__wave {
  background-image: url('../images/icons/wave.svg');
  background-size: contain;
  background-repeat: repeat;
  background-position: 5em 1.5em;
}

.hero__title {
  font-size: 1.25em;
  font-weight: getFontWeight('font-extrabold');
  line-height: 1.3;
  letter-spacing: 0.05em;
  padding-bottom: 1.25em;
  color: getColor('main-title');
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero__warnings {
  padding-top: 1.875em;
  padding-bottom: 1.875em;
  font-size: 0.875em;
  font-weight: getFontWeight('font-bold');
  line-height: 1.58;
  letter-spacing: 0.08em;
  color: getColor('black');
  text-shadow: 0.15em 0.15em 0.5em getColor('primary-gray');
  &--gray {
    color: getColor('primary-gray');
  }
  &--orange {
    color: getColor('brand-color');
  }
}
.hero__button {
  padding: 0.875em 3.5em;
  margin-left: 0em;
  margin-right: 0em;
  background-color: getColor('brand-color');
  color: getColor('background-white');
  font-size: 0.75em;
  font-weight: getFontWeight('font-bold');
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-decoration: none;
  transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out,
    color 500ms ease-in-out;
  &:focus,
  &:hover {
    box-shadow: inset 0.1em 0.1em 0.8em 0.4em rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
    color: getColor('black');
  }
}
.hero__image {
  align-items: center;
  padding-top: 1.875em;
  padding-bottom: 1.875em;
}
.image__main {
  margin-right: auto;
  margin-left: auto;
}
