.problems__background {
  background-image: linear-gradient(
    to bottom,
    getColor('black') 80%,
    getColor('background-white') 80%
  );
  padding-top: 3.125em;
}
.problems__title {
  color: getColor('background-white');
  font-size: 1.5em;
  font-weight: getFontWeight('font-extrabold');
  letter-spacing: 0.04em;
  &--accent {
    @extend .problems__title;
    color: getColor('brand-color');
    font-size: 1em;
  }
}
.list__background {
  margin-top: 1.875em;
  padding: 1.25em 1.875em 0;
  display: flex;
  justify-content: center;
  background-color: getColor('background-white');
}
.problems__list {
  display: flex;
  flex-direction: column;
  counter-reset: section;
  list-style-type: none;
}
.problems__item {
  font-size: 0.875em;
  font-weight: getFontWeight('font-bold');
  word-wrap: break-word;
  line-height: 1.71;
  letter-spacing: 0.07em;
  &::before {
    counter-increment: section;
    content: '\2014  0'counters(section, '.') ' ';
    display: block;
    font-size: 0.875em;
    color: getColor('brand-color');
  }
}
.problems__item:not(:last-child) {
  margin-bottom: 0.75em;
}
