<section>
  <h2>Ours advantages</h2>
  <div>
    <ul>
      <li>
        <img src="./images/logo.png" alt="ikonka1" width="20px" height="auto" />
        <span>Adapted author's UPE program</span>
      </li>

      <li>
        <img src="./images/logo.png" alt="ikonka2" width="20px" height="auto" />
        <span>Modern teaching methods</span>
      </li>

      <li>
        <img src="./images/logo.png" alt="ikonka3" width="20px" height="auto" />
        <span>Financial guarantee the result</span>
      </li>
    </ul>
  </div>
</section>
