<section class="section">
  <div class="problems__background--benefits">
    <div class="container">
      <h2 class="problems__title--benefits">Why do people choose us</h2>
      <div class="list__background--benefits">
        <ol class="problems__list--benefits">
          <li class="problems__item--benefits">Training in small groups</li>
          <li class="problems__item--benefits">Rendered notes</li>
          <li class="problems__item--benefits">
            Each lesson has a goal and a specific result
          </li>
          <li class="problems__item--benefits">
            The real results of the teacher
          </li>
          <li class="problems__item--benefits">
            The course program meets the requirements of the MES of Ukraine
          </li>
          <li class="problems__item--benefits">
            Set of groups by level of knowledge
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
