<section>
  <div>
    <h6>
      Registration for a <span>free</span> phone <span>consultation</span> on
      the nuances of English UPE
    </h6>
    <p>
      Leave a request for participation in a <span> free lesson </span>. A
      consultant will contact you and answer your questions
    </p>
    <div>
      <input type="text" name="name" placeholder="Name*" />
      <input type="number" name="phone" placeholder="Phone*" />
    </div>
    <button type="button">I want a free lesson</button>
  </div>
</section>
