<header class="section--header">
  <div class="container">
    <div class="header">
      <a class="logo__link" href="./index.html">
        <img
          class="logo__img"
          alt="logo-return to main page"
          src="./images/logo_mobile.jpg"
          srcset="./images/logo_2x_mobile.jpg"
        />
      </a>
      <nav class="header__navigation--desktop">
        <ul class="navigation__desktop">
          <li class="navigation__desktop__item">
            <a class="navigation__desktop__link" href="#program"
              >Studying program</a
            >
          </li>
          <li class="navigation__desktop__item">
            <a class="navigation__desktop__link" href="#about">About</a>
          </li>
          <li class="navigation__desktop__item">
            <a class="navigation__desktop__link" href="#guarantee"
              >Training options</a
            >
          </li>
          <li class="navigation__desktop__item">
            <a class="navigation__desktop__link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <a class="navigation__desktop__link--button" href="#program"
        >Consultation by chat</a
      >
      <div class="smallmenu">
        <a class="smallmenu__link open-menu" href="#">
          <svg class="smallmenu__icon">
            <use href="./images/icons/icons.svg#icon-burger"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="mobile is-open">
      <div class="overlay">
        <div class="navigation">
          <div class="mobile__top">
            <a class="logo__link" href="./index.html">
              <img
                class="logo__img--mobile"
                alt="logo-return to main page"
                src="./images/logo_black_mobile.png"
                srcset="./images/logo_black_mobile_2x.png"
              />
            </a>
            <svg class="close__icon is-close">
              <use href="./images/icons/icons.svg#icon-close"></use>
            </svg>
          </div>
          <nav class="header__navigation">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a class="navigation__link" href="#program">Studying program</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#about">About</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#guarantee"
                  >Training options</a
                >
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#contacts">Contacts</a>
              </li>
            </ul>
            <a class="navigation__link--button" href="#phone"
              >Consultation by chat</a
            >
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
