<section>
  <ul>
    <li>
      <h4>1 SEMESTER</h4>
      <h5>Grammar</h5>
      <p>Nouns & Articles</p>
      <p>Adjectives & Adverb</p>
      <h5>Vocabulary</h5>
      <p>Family & Relations</p>
      <p>People & Society</p>
    </li>
    <li>
      <h4>2 SEMESTER</h4>
      <h5>Grammar</h5>
      <p>Pronouns</p>
      <p>Active Voice</p>
      <p>Passive Voice</p>
      <h5>Vocabulary</h5>
      <p>Home</p>
      <p>School</p>
      <p>Work</p>
    </li>
    <li>
      <h4>3 SEMESTER</h4>
      <h5>Grammar</h5>
      <p>Modal verbs</p>
      <p>Infinitive</p>
      <p>Gerund</p>
      <p>Participle: 1, 2</p>
      <h5>Vocabulary</h5>
      <p>Travel & Tourism</p>
      <p>Culture & Free Time</p>
      <p>Sport</p>
      <h5>Writing</h5>
      <p>Informal Letter</p>
    </li>
    <li>
      <h4>4 SEMESTER</h4>
      <h5>Grammar</h5>
      <p>Clauses: Conditional and Wishes</p>
      <p>Direct / Reported speech</p>
      <p>Preposition</p>
      <p>Conjunction</p>
      <p>Numeral</p>
      <h5>Vocabulary</h5>
      <p>Healthy living</p>
      <p>Nature & Enviroment</p>
      <p>Money</p>
      <h5>Writing</h5>
      <p>Formal letter</p>
    </li>
    <li>
      <h4>5 SEMESTER</h4>
      <h5>Nothing</h5>
      <p>Revision Tests</p>
    </li>
  </ul>
</section>
